.spinner {
  display: inline-block;
  flex: none;
  border-radius: 50%;
  border: 2.5px solid currentColor;
  border-inline-end-color: transparent;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
